.selected-tab{
    color: var(--primary-color);
}
.label-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#body-container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    flex-direction: stretch;
}
/* left side's style */
#left-container{
    display: flex;
    flex-direction: column;
    background-color: var(--light-primary-color);
    height: 83vh;
    flex: 0.9;
    overflow-x: hidden;
    border-radius: 0 var(--small-border) var(--small-border) 0;
    transition: 0.7s;
}

#left-button-container{
    padding: calc(var(--small-padding)*1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
}
.left-expand-button{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 var(--small-padding) var(--small-padding);
}
.left-expand-button .icon{ font-size: 1.5rem; }


#left-container button{
    transition: 0.5s;
    padding: calc(var(--small-padding)*0.3);
    text-align: left;
}
/* right side's style */
#right-container{
    flex: 10;
    padding: 0 calc(var(--small-padding) * 1.8);
    overflow-y: scroll;
}
#right-block-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: stretch;
    padding: calc(var(--small-padding)*0.7) 0;
}
.label-input-container{
    display: flex;
    width: 100%;
}
.label-input-container input{ flex: 0.9; }
