#topbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--small-padding);
}
#topleft{
    flex: 1;
}
#topright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#topright button{
    margin-left: calc(var(--small-padding)*0.6);
    padding: calc(var(--small-padding)*0.5) calc(var(--small-padding)*0.8);
}
#keytolength-ratio-text{
    font-size: 1rem;
    font-family: var(--secondary-font);
    color: var(--grey-color);
    padding-right: var(--small-padding);
}
.delete-button{
    padding: calc(var(--small-padding)*0.3);
}